
[client]
host=localhost
# avoid annoying socket errors when connecting to MySQL in docker
protocol=tcp


[mysql]
no_auto_rehash
no-beep
reconnect
max_allowed_packet             = 16M
prompt                         = '\N \u@\h [\d] > '  # [host] username@database
default_character_set          = utf8    

#safe-updates
show-warnings
#sigint-ignore




